.product-detail-comments-tab-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 400px;

  margin: 0 auto;

  margin-bottom: 32px;

  &__title {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .button {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}

.product-detail-comments-tab-form__item {
  width: 100%;

  margin-bottom: 20px;

  &__label {
    display: block;

    color: #8e8e8e;
    margin-bottom: 10px;
  }
}
