.login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.login__card {
  width: 270px;

  padding: 20px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;

  &__title {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 700;
  }
}
